body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.full_body{
     font-size: 18px;
     background-image: linear-gradient(to right top,#007F5F,#2B9348,#55A630,#80B918,#AACC00);
     height: 800px;
}
.title{
    color: rgb(9, 10, 2);
    background-color: #a9a92c92;
    font-weight: 800;
    text-decoration: underline;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.buttons{
    outline: none;
    border: 2px solid black;
    padding: 10px 20px;
    color: white;
    background-color: rgb(227, 29, 29);
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    border-radius: 4px;
}
.buttons:hover{
    border: 2px solid white;
    background-color: #054A29;
}
table{
    background-color: rgba(0, 0, 0, 0.164);
    color:white;
    border: 1px black solid;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
}
td{
    font-size: 15px;
}
.add-new-expense,.add-category{
     margin-top: 10px;
     background-color: rgb(175, 224, 41);
     padding: 10px;
     border-radius: 4px;
     border: 1px solid grey;
     display: none;
}
.add-new-expense span,.add-category span{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    margin: 5px 0px;
    font-size: 15px;

}
.form-input{
    background-color: rgba(0, 0, 0, 0.164);
    padding: 8px 10px;
    border: 1px solid rgba(255, 255, 255, 0.755);
    border-radius: 4px;
    color: rgba(138, 18, 76, 0.911);
    font-family: 'Times New Roman', Times, serif;
}

.form-input:focus{
    background-color:  rgba(0, 0, 0, 0.164);
    border: 1px solid white;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
.available-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 30px;
}
.available-categories > span{
     padding:8px 10px;
     border-bottom: 1px solid white;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.sub-title{
    font-size: 23px;
    color: black;
    margin-top: 30px;
}
